<!DOCTYPE html>
<html lang="pt-br ">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h1>Lista de Emails</h1>
  <h3>Junte-se a
    <strong><%=count%></strong>
    pessoas e faça parte deste movimento
  </h3>

  <form method="POST" action="/register">
    <input type="text" name="email" placeholder="Coloque Seu Email">
    <button type="submit">Faça Já!</button>
  </form>
</body>

</html>